.intro {
  padding-top: 32px;
  padding-bottom: 31px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 52px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 42px;
  }
}

.intro__slogan {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    font-size: 21px;
    margin-bottom: 29px;

    &--foto {
      font-size: 30px;
      margin-top: 22px;
      margin-bottom: 29px;

      @media (min-width: $desktop-width) {
        margin-top: 48px;
        margin-bottom: 34px;
      }
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 34px;
    }
  }
}

.intro__reasons {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-weight: 400;

  &--foto {
    @media (min-width: $tablet-width) {
      max-width: 458px;
      margin: 0 auto;
      margin-bottom: 29px;
      padding: 0 10px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 39px;
    }
  }
}
