.voice {
  border-bottom: 1px solid $line-grey;
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin-top: 86px;
    margin-bottom: 86px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 143px;
  }
}

.voice__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.voice__title {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 3px;
  }
}

.voice__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    max-width: 443px;
    margin: 0 auto;
  }
}
