.welcome-catalog-foto {
  height: 158px;
  background-color: $down-blue;
  background-image: url("../img/intro-triangle.svg"), url("../img/sedona-s.svg"), url("../img/back-s.jpg");
  background-position: center bottom, center, center -180px;
  background-repeat: no-repeat;
}
