.contacts {
  flex-direction: column;
  display: flex;
  order: -1;

  @media (min-width: $tablet-width) {
    order: 0;
    margin-bottom: 37px;
    margin-top: 57px;
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 43px;
  }
}

.contacts__inner {
  @media (min-width: $tablet-width) {
    border-top: 1px solid $line-grey;
  }
}

.contacts__title {
  margin-top: 20px;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    padding-left: 46px;
    padding-right: 47px;
    margin-bottom: -18px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
    padding-right: 62px;
  }
}

.contacts__label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: start;
  padding-bottom: 8px;
  position: relative;
  padding-left: 22px;

  @media (min-width: $desktop-width) {
    padding-right: 14px;
    padding-left: 0;
  }
}

.contacts__input {
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  font-weight: 700;
  border: 4px solid transparent;
  background-color: $extralight-grey;
  margin-bottom: 13px;
  padding-top: 15px;
  padding-left: 22px;
  padding-bottom: 10px;
  margin-top: 7px;
  position: relative;

  &::placeholder {
    color: $black;
    opacity: 1;
  }

  &:hover {
    background-color: $disabled;
  }

  &:focus {
    background-color: $white;
    border-color: $disabled;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    width: 590px;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    width: 257px;
    padding-left: 17px;
    padding-top: 13px;
  }
}


.contacts__block {
  position: relative;
  transform: translate(-2px, 10px);

  &:last-child {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 56px;
  }
}

.contacts__block::after {
  position: absolute;
  background-color: $grey;
  width: 58px;
  height: 58px;
  padding: 21px;
  right: 0;
  bottom: 14px;

  @media (min-width: $tablet-width) {
    right: unset;
    bottom: 23px;
  }
  @media (min-width: $desktop-width) {
    height: 57px;
  }
}

.contacts__block--phone::after {
  content: url("../img/phone.svg");
}

.contacts__block--email::after {
  content: url("../img/mail.svg");
}

.contacts__label-hidden {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.contacts__block--phone {
  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}
