// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$white: #ffffff;
$black: #000000;
$blue: #81b3d2;
$hover-blue: #669ec0;
$down-blue: #5496bd;
$hover-mobiles: #333333;
$grey: #e6e6e6;
$media-grey: #eaeaea;
$lightgrey: #eeeeee;
$extralight-grey: #f2f2f2;
$down-grey: #d5d5d5;
$line-grey: #d6d6d6;
$line-light-grey: #dbdbdb;
$disabled: #e5e5e5;
$menu-current: #766357;
$desktop-controls: #666666;
$mobile-controls: #5c6870;
